<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project_for_final_last01">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project_for_final_last01">
        <activity
            android:name=".ThankuActivity"
            android:exported="false" />
        <activity
            android:name=".SodActivity"
            android:exported="false" />
        <activity
            android:name=".FarmaActivity"
            android:exported="false" />
        <activity
            android:name=".ZakazActivity"
            android:exported="false" />
        <activity
            android:name=".MarketActivity"
            android:exported="false" />
        <activity
            android:name=".YourorderActivity"
            android:exported="false" />
        <activity
            android:name=".FoodlistActivity9"
            android:exported="false" />
        <activity
            android:name=".Food_Activity"
            android:exported="false" />
        <activity
            android:name=".Menu_Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>